<?xml version="1.0"?>
<configuration>



  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MediaChromeGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MediaChrome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MediaChrome.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <MediaChromeGUI.Properties.Settings>
      <setting name="StorageFolder" serializeAs="String">
        <value>C:\mc_storage</value>
      </setting>
      <setting name="Skin" serializeAs="String">
        <value>mediachrome</value>
      </setting>
      <setting name="DefaultPlayer" serializeAs="String">
        <value>mp3</value>
      </setting>
    </MediaChromeGUI.Properties.Settings>
    <MediaChrome.Properties.Settings>
      <setting name="StorageFolder" serializeAs="String">
        <value>C:\mc_storage</value>
      </setting>
      <setting name="Skin" serializeAs="String">
        <value>spotify</value>
      </setting>
    </MediaChrome.Properties.Settings>
    <MediaChrome.Settings>
      <setting name="Skin" serializeAs="String">
        <value>mediachrome</value>
      </setting>
      <setting name="DefaultPlayer" serializeAs="String">
        <value>mp3</value>
      </setting>
      <setting name="StorageFolder" serializeAs="String">
        <value>C:\\MediaChrome</value>
      </setting>
    </MediaChrome.Settings>
  </userSettings>
</configuration>
